
body {
    margin: 20px;
}

svg {
    width: 100%;
    height: 80%;
    border: 1px dashed gray;
}

.rectMoveCanvas {
    fill: transparent;
    stroke: transparent;
}

.rectBoundingBox {
    stroke: transparent;
    fill: transparent;
    cursor: move;
}
.rectBoundingBox:hover {
    stroke: gray;
    stroke-dasharray: 5,3;
}
